* {
  font-family: 'Nunito', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bg-dark-color);

}


/* COLORS */

:root {
  --bg-dark-color: #121212;
  --bg-grey-color: #282828;
  --bg-grey1-color: #12121266;
  --bg-grey2-color: rgba(58, 58, 58, .22);
  --bg-grey3-color: rgba(18, 18, 18, 0.20);
  --bg-grey3-dark-color: rgba(18, 18, 18, 0.90);

  --yellow1-color: #FFAE1B;
  --yellow2-color: #FFCE32;
  --yellow3-color: #F18805;

  --white-color: #fff;
  --text-grey1-color: #EDEFF6;
  --text-grey2-color: #C8C8C8;
  --text-greylite-color: #8B8B8B;
  --text-greydark-color: #002F34;

  --box-shadow1-color: rgba(0, 0, 0, 0.12);
}



.homeContainer {
  background-color: var(--bg-dark-color);
}

.navMain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navx {
  position: relative;
}

.head-logo {
  position: absolute;
  top: 0px;
}

.navCon {
  display: flex;
}

.logo {
  width: 196px;
  height: 50px;
}

.navBtn {
  display: none;
}

.bar {
  height: 3px;
  width: 28px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 20px;
}

.navItem a {
  color: white;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: Nunito;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: #959e9c;
  padding: 7px 0;
  text-decoration: none;
  display: block;
  width: 200px;
}

.dropdown-content a:hover {
  background-color: transparent;
  color: rgb(66, 64, 64);
}

.home-link {
  color: #4B7FFB !important;
}

.navItem a:hover {
  color: white;
}

.navItemSubMain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.activeNavItem {
  position: relative;
}

.activeNavItem:after {
  content: '';
  position: absolute;
  width: 18px;
  display: block;
  height: 2px;
  background-color: var(--yellow1-color);
  bottom: -8px;
}

.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background: var(--yellow1-color);
  border: none;
  font-weight: 600;
  font-size: 14px;
}


@media (max-width: 992px) {
  .logo {
    width: 175px;
    height: 48px;
  }

  .navItem a {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 145px;
  }

  .navBtn {
    display: block;
    border: 0px !important;
    background-color: transparent;
    float: right;
    margin-top: 15px;

  }

  .navItemSubMain {
    flex-direction: column;
  }

  .navItem {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 5px;
    background: var(--bg-grey2-color);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 13px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
  }

  .navItemMain {
    position: absolute;
    background-color: black;
    top: 80px;
    left: 0px;
    width: 100vw;
    text-align: center;
    padding-bottom: 30px;
    z-index: 22;
  }

  .activeNavItem:after {

    width: 100%;
    bottom: -8px;
  }

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 19px;
  padding: 0px;
  width: 170px;
  height: 37.182px;
  border-radius: 10px;
  color: var(--yellow1-color);
  border: 1px solid var(--yellow1-color);
}

/* heroSection  */

.heroSectionMain {
  width: 100%;

}

.head-link {
  font-size: 16px !important;
}

.sliderImg {
  width: 100%;
  height: 610px !important;
  position: relative;
}

.carouselIndicator {
  position: absolute;
  top: 55%;
  right: 20px;
}

.carouselIndicator ol {
  display: flex;
  flex-direction: column;
}


.carouselIndicator ol li {
  background-color: var(--bg-grey1-color);
  border: 0px;
}

.carouselIndicator ol .active {
  background-color: var(--yellow1-color) !important;
}

.heroSliderImgMain {
  position: relative;
}

.heroSliderMain {
  position: relative;
}

.heroContentMain,
.heroContentMain2,
.heroContentMain3 {
  position: relative;
  z-index: 2;
  background-image: url(./assets/homepage/heroSectionImg/heroBeach.png);
  background-repeat: no-repeat;
  height: 610px;
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
}

.heroContentMain::before,
.heroContentMain2::before,
.heroContentMain3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--bg-grey3-dark-color) 0%, var(--bg-grey3-color) 100%);
  z-index: -1;
}

.heroConContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 70%;
}

.heroSubMainHeading {
  font-size: 42px;
  font-weight: 700;
  margin-top: 100px;
}

.heroMainHeading {
  font-size: 52px;
  position: relative;
}

.heroMark {
  position: absolute;
  top: 30px;
  right: -98px;
}

.heroContent {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-grey1-color);
  margin-top: 15px;
  margin-bottom: 48px;
}

@media (min-width: 1300px) {
  .heroMark {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

@media (max-width: 1200px) {

  .heroSubMainHeading {
    font-size: 36px;
  }

  .heroMainHeading {
    font-size: 46px;
  }

}


@media (max-width: 992px) {

  .heroSubMainHeading,
  .heroMainHeading {
    font-size: 32px;
  }

  .heroMainHeading {
    font-size: 42px;
  }

  .heroContent {
    font-size: 15px;
    line-height: 24px;
    color: var(--text-grey1-color);
    margin-top: 10px;
    margin-bottom: 38px;
  }

  .heroMark {
    display: none;
  }
}

@media (max-width: 767px) {

  .heroSubMainHeading {
    margin-top: 60px;
  }
}

@media (max-width: 576px) {

  .heroSubMainHeading {
    font-size: 26px;
    font-weight: 600;
  }

  .heroMainHeading {
    font-size: 36px;
  }

  .heroConContent {
    width: 100%;
  }
}


/* losting Area  */

.listContent {
  color: var(--white-color);
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
}

.listHeading {
  margin-top: 100px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.listCardContainer {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
}

.listCardContainer::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.listCardContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.card {
  position: relative;
  width: 414px;
  background-color: rgba(39, 38, 38, 0.014) !important;
}

.locationDiv {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: absolute;
  left: 20px;
  color: var(--white-color) !important;
  bottom: 20px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  color: var(--white-color) !important;
  bottom: 70px;
}

.listNum {
  font-size: 16px;
  position: absolute;
  right: 11px;
  color: var(--white-color) !important;
  bottom: 24px;
}

@media (max-width: 576px) {
  .listHeading {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .listContent {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
}

@media (max-width: 768px) {

  .listHeading {
    font-size: 28px;
  }

  .listContent {
    font-size: 16px;
  }
}

/* contact us  */

.ContactDetails {
  margin: 72px 0;
  color: var(--white-color);
}

.ContactDetails {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.subHeading {
  margin: 16px 0 27px 0;
  font-size: 20px;
  line-height: 30px;
}

.rightSec {
  font-size: 18px;
  margin: auto 0;
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.border {
  background: rgba(255, 174, 27, 0.60);
  width: 2px;
}

.leftSec {
  max-width: 50%;
}

.home-contact {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .subHeading {
    /* margin: 12px 0; */
    font-size: 16px;
    line-height: 25px;
  }

  .rightSec {
    font-size: 14px;
    margin: auto 0;
  }
}

@media (max-width: 576px) {


  .title {
    font-size: 28px;
  }

  .leftSec {
    max-width: 80%;
  }

  .ContactDetails {
    flex-direction: column;
  }

  .rightSec {
    font-size: 14px;
    margin: 30px 0 0;
  }

  .border {
    height: 2px;
    margin-top: 30px;
    width: 80%;
  }
}

/* footer  */


.footerMain {
  width: 100%;
  height: 325px;
  background: var(--bg-grey-color);
}

.footerLogo {
  width: 196px;
  height: 50px;
  margin-top: 48px;
}

.footerDiscription {
  color: var(--white-color);
  font-size: 14px;
  font-family: Nunito;
  line-height: 19px;
  margin-top: 18px;
}

.footerMainList {
  margin-top: 40px !important;
}

.footerTitle {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow3-color);
  margin-bottom: 10px;
  margin-left: 15px;
}

.footerMainListCon {
  padding-left: 20px;
}

.footerTecMain {
  margin-top: 20px;
}

.footerList li a {
  color: var(--white-color);
  font-size: 16px;
  font-family: Nunito;
  line-height: 24px;
  text-decoration: none;
}

.footerList li {
  margin-bottom: 20px !important;
  list-style: none;
}

.copyright {
  color: var(--text-greylite-color);
  font-size: 12px;
  line-height: 24px;
  margin-top: 25px;
  padding-top: 80px;
}

.footerTecMain {
  display: flex;
  justify-content: space-between;
}

.footerDropMain {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 38.5px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--white-color);
  background: transparent;
  padding: 7px 0px 6px 40px;
}


.footerLangDrop {
  position: relative;
  margin-top: 28.5px;
  z-index: 1;
}

.footerDropWorldIcon {
  position: absolute;
  top: 9px;
  left: 13px;
  z-index: -1;
}

.footerDropArrowIcon {
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: -1;
}

@media (max-width: 992px) {
  .footerMain {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .footerMainListCon {
    padding-left: 0px;
  }

  .footerTecMain {
    width: 60%;
  }
}

@media (max-width: 476px) {
  .footerTecMain {
    width: 100%;
  }
}

.left {
  position: absolute;
  z-index: -1;
  right: -20px;
  top: 1250px;
}

.right {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 700px;
}




/* aboutus  */


.content {
  margin: 10px auto 182px;
  padding-top: 180px;
  color: var(--white-color);
  width: 60%;
}

.profileHeading {
  font-size: 32.862px;
  font-weight: 500;
  line-height: 49.292px;
  letter-spacing: -0.685px;
  margin-bottom: 40px;
}


.detailcontent {
  font-size: 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.detailcontent>*:not(:last-child) {
  margin-bottom: 72px;
}

.bgRight {
  position: absolute;
  left: 0;
  z-index: -1;
}

.bgLeft {
  position: absolute;
  z-index: -1;
}

.aboutFooter {
  position: relative;
  bottom: 0px;
}

.aboutBgLeft {
  position: absolute;
  right: 0px;
  top: -128px;
  z-index: -1;
  height: 422px;
  overflow-y: hidden;
}

.aboutBgRight {
  position: absolute;
  left: 0px;
  bottom: 600px;
  z-index: -1;
}

@media (max-width: 767px) {
  .content {
    margin: 150px auto 61px 8%;
    width: 80%;
  }
}

@media (max-width: 375px) {
  .content {
    margin: 120px auto 50px auto;
    width: 90%;
  }
}


.leftabout {
  position: absolute;
  z-index: -1;
  right: -20px;
  top: 1050px;
}

.rightabout {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 400px;
}






/* contact us  */

.contactMain {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactFormHeading {
  color: #FFF;
  font-size: 32.862px;
  font-weight: 500;
  line-height: 49.292px;
  letter-spacing: -0.685px;
  margin-bottom: 50px;
}

.contactFormMain {
  width: 410px;
}


.contactFooter {
  position: relative;
}

.contactBgRight {
  position: absolute;
  top: -250px;
  left: 0px;
  z-index: -1;
}

@media (max-width: 576px) {
  .contactFormHeading {
    font-size: 25.862px;
    margin-bottom: 35px;
  }

  .contactFormMain {
    width: 280px;
  }

  .contactFormBtn {
    margin: 80px 0px;
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.lable {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}

.input {
  background: #2B2B2B;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  color: #667085;
  padding: 10px 18px;
  font-size: 14px;
  outline: none;
}

/* Hide the spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input::placeholder {
  color: var(--text-grey3-color);
  font-size: 16px;
}

.submit-contact {
  width: 90% !important;
  border-radius: 8px !important;
  text-align: center;
  margin: 174px auto;
}

.contactbg {
  top: 700px !important;
}

.login-btn {
  width: 80% !important;
  border-radius: 8px !important;
  text-align: center;
  margin: 90px auto 170px !important;
}






/* order Items  */

.services-display {
  display: flex;
  justify-content: space-around;
  /* background-color: #fff; */
}

.headc {
  color: var(--white-color);
}

.order-content {
  margin: 0 20%;
  padding-top: 200px;
}

.content-check {
  padding: 30px !important;
  margin-bottom: 0px !important;
}

.sorry {
  color: rgb(241, 114, 114);
}

.kayaks-sold {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid red;
  font-size: 32px;
  background-color: #373738;
  border-radius: 6px;
  margin: 100px 0;
  padding: 40px;
}

.width-adjust {
  width: 40%;
}



/* listinh cards order home  */
.order-card-Container {
  margin: 200px;
}

.cardorder {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background: var(--bg-grey-color);
  color: var(--white-color);
  box-shadow: 0px 0px 12px 1px var(-box-shadow1-color);
}

.cardContentO {
  margin: 0 38px 0 20px;
  width: 100%;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0px; */
}

.subHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.headingorder {
  font-size: 24px;
  font-weight: 700;
}

.subHeading {
  font-size: 14px;
  font-weight: 500;
  width: 70%;
}

.locationDivOrder {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.eyeDiv {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 13px;
  color: var(--grey-lite1);
}

.price {
  color: var(--yellow1-color);
  font-size: 20px;
  font-weight: 700;
  margin: 0 12px 0 0;
}

.locationPlaceOrder {
  margin-left: 8px;
}

.eyeIcon {
  margin: 0 6px 0 13px;
}

.locationDetailsOrder {
  font-size: 13px;
  margin-left: 16px;
  color: var(--text-greylite1-color);
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
    align-items: initial;
    width: 305px;
    margin-left: 30px;
  }

  .cardContent {
    margin: 0;
    padding: 12px;
  }

  .subHeadingContainer {
    align-items: flex-start;
    margin-top: 12px;
  }

  .subHeading {
    width: 80%;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
}